#{extends 'main.html' /} 
#{set title:'邀请好友一起来玩' /}
<!-- 
<div class="alert alert-info">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>警告!</strong> 请检查邮件地址是否正确
</div>

<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>错误!</strong> 登录失败，请检查用户名或密码是否正确
</div>

<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>成功!</strong> 操作成功!
</div>
-->
<div class="hero-unit">
	<h2 class="form-signin-heading">邀请他/她来一起来玩</h2>

		<iframe width="800" height="600" scrolling="no" src="http://app.t.qq.com/invite/index?appid=100685858&app_custom=test&msg=哈哈，这个应用”暗恋表白“真的很好玩，暗恋也可以收获爱情的哦，一起来玩吧"></iframe>
</body>
</div>

