#{extends 'main.html' /} 
#{set title:'猜猜他是谁' /}

<form class="form-signin" method="GET" action="@{Sends.guess()}" style="max-width: 500px;">
	<h3>${send?.toEmail},您好</h3>
	<h4 class="form-signin-heading">猜猜你喜欢的人是他吗?^_^</h4>
	<pre>
		${send?.content}
		uuid: ${uuid}
	</pre>
	<input type="hidden" name="uuid" value="${uuid}" /> <input type="text"
		name="email" value="${email}" class="input-block-level"
		placeholder="他的邮箱xxx@qq.com" />
	<button class="btn btn-large btn-primary" type="submit">提交</button>

</form>


