#{extends 'main.html' /}
#{set title:'注册' /}
<form class="form-signin" method="POST" action="@{Application.register()}">
<h2 class="form-signin-heading">注册</h2>
<input type="text" name="user.email"  class="input-block-level" placeholder="xxx@qq.com" value="${user?.email}">
<input type="password" name="user.password" class="input-block-level" placeholder="密码" value="${user?.password}">
<input type="password" name="verifyPassword" class="input-block-level" placeholder="再次输入密码" value="${verifyPassword}">
<button class="btn btn-large btn-primary" type="submit">注册</button>
</form>

